Chiptole Sales Analysis

In [1]:
import numpy as np
import pandas as pd

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [ ]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
chipo.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
chipo.shape

(4622, 5)

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Challenge Questions

1 **Which was the most-ordered item?**

In [12]:
chipo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

2 **For the most-ordered item, how many items were ordered?**

In [13]:
chipo[chipo['item_name'] =='Chicken Bowl']['quantity'].sum()

761

3 **What was the most ordered item in the choice_description column?**

In [15]:
chipo['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

4 **How many items were ordered in total?**

In [17]:
chipo.item_name.nunique()

50

5 **Turn the item price into a float**

In [40]:
chipo.item_price = chipo.item_price.apply(lambda x:x.split('$')[1])

In [41]:
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price,totalsale
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,$2.39
1,1,1,Izze,[Clementine],3.39,$3.39

In [42]:
chipo.item_price = chipo.item_price.astype('float')

In [43]:
chipo.item_price.dtype

dtype('float64')

6 **How much was the revenue for the period in the dataset?**

In [44]:
chipo['totalsale']=chipo['quantity']*chipo['item_price']

In [45]:
chipo.head(1)

,order_id,quantity,item_name,choice_description,item_price,totalsale
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39

7 **How many orders were made in the period?**

In [46]:
chipo.order_id.max()

1834

8 **What is the average revenue amount per order?**

In [50]:
chipo1 = chipo.groupby('order_id')['totalsale'].sum()

In [51]:
chipo1.mean().round(2)

21.39

9 **How many different items are sold?**

In [47]:
chipo.item_name.nunique()

50